<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 p-1 border-top border-info">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2022 Quentin Clavier</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="https://www.instagram.com/cl_quentin/?hl=fr" target="_blank" class="reseau"><i style="color: #5754cd;" id="instagram" class="fab fa-instagram fa-2x"></i></a>
      </li>
      <li class="ms-3">
        <a href="https://www.linkedin.com/in/quentin-clavier/" target="_blank" class="reseau"><i style="color: #0274b3;" class="fab fa-linkedin fa-2x"></i></a>
      </li>
      <li class="ms-3">
        <a href="https://github.com/ClavierQuentin" class="reseau" target="_blank"><i style="color: black;" class="fab fa-github fa-2x" title="GITHUB"></i></a>
      </li>

    </ul>
</footer>